body{
    position: relative;
    min-height: 100vh;
    width: 100%;
}
.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 78px;
    background: #11101d;
    padding: 6px 14px;
    transition: all 0.5s ease;
    z-index: 1;
}
.sidebar.active{
    width: 240px;
}
.sidebar .logo_content .logo{
    color: #fff;
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: all 0.5 ease;
}
.sidebar.active .logo_content .logo{
    opacity: 1;
    pointer-events: none;
}
.logo_content .logo i{
    font-size: 28px;
    margin-right: 5px;
}
.logo_content .logo a{
    color: #fff;
    text-decoration: none;
}
.logo_content .logo .logo_name{
    font-size: 20px;
    font-weight: 400;
}
.sidebar #btn{
    position: absolute;
    color: #fff;
    left: 50%;
    top: 6px;
    font-size: 20px;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    transform: translateX(-50%);
}
.sidebar.active #btn{
    left: 90%;
}
.sidebar ul{
    margin-top: 20px;
    padding: 0;
}
.sidebar ul li{
    position: relative;
    height: 50px;
    width: 100%;
    margin: 0 5px;
    list-style: none;
    line-height: 50px;
}
.sidebar ul li .tooltip{
    position: absolute;
    left: 122px;
    top: 0;
    transform: translate(-50%, -50%);
    border-radius: 6px;
    height: 35px;
    width: 122px;
    background: #fff;
    line-height: 35px;
    text-align: center;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    transition: 0s;
    opacity: 0;
    pointer-events: none;
    display: block;
}
.sidebar.active ul li .tooltip{
    display: none;
}
.sidebar ul li:hover .tooltip{
    position: absolute;
    transition: all 0.5s ease;
    opacity: 1;
    top: 50%;
    z-index: 1;
}
.sidebar ul li a{
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: all 0.4s ease;
    border-radius: 12px;
    white-space: nowrap;
}
.sidebar ul li a:hover{
    color: #11101d;
    background: #fff;
}
.sidebar ul li a i{
    height: 50px;
    min-width: 50px;
    border-radius: 12px;
    line-height: 50px;
    text-align: center;
}
.sidebar .profile_content{
    position: absolute;
    color: #fff;
    bottom: 0;
    left: 0;
    width: 100%;
}
.sidebar .profile_content .profile{
    position: relative;
    padding: 10px 6px;
    height: 60px;
    background: none;
    transition: all 0.4s ease;
}
.sidebar.active .profile_content .profile{
    background: #1d1b31;
}
.sidebar .links_name{
    opacity: 0;
    pointer-events: none;
    transition: all 0.5 ease;
}
.sidebar.active .links_name{
    opacity: 1;
    pointer-events: auto;
}
.profile_content .profile .profile_details{
    display: flex;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    white-space: nowrap;
}
.sidebar.active .profile .profile_details{
    opacity: 1;
    pointer-events: auto;
}
.profile .profile_details i{
    margin-top: 10px;
    font-size: 40px;
    height: 45px;
    width: 45px;
}
.profile .profile_details .logged_user_details{
    margin-right: 10px;
}
.profile .profile_details .name{
    font-size: 15px;
    font-weight: 400;
}
.profile .profile_details .role{
    font-size: 12px;
}
.profile #log_in_out{
    position: absolute;
    left: 50%;
    bottom: 5px;
    color: #fff;
    transform: translateX(-50%);
    min-width: 50px;
    line-height: 50px;
    font-size: 20px;
    border-radius: 12px;
    text-align: center;
    transition: all 0.4s ease;
    background: #1d1b31;
    text-decoration: none;
}
.sidebar.active .profile #log_in_out{
    color: #fff;
    left: 92%;
    background: none;
    text-decoration: none;
}
/* OTWARTY NAVBAR width: calc(100% - 240px)
ZAMKNIETY width: calc(100% - 78px)
transition: all 0.5 ease; */