{% load static %}

<link rel="stylesheet" type="text/css" href="{% static '/website/css/navbar.css' %}">

<div class="sidebar">
  <div class="logo_content">
    <div class="logo">
      <i class='bx bxl-python' ></i>
      <div class="logo_name">PIXELSHOP</div>
    </div>
    <i class='bx bx-menu' id="btn"></i>
  </div>
  <ul class="nav_list">
    <li>
      <a href="{% url 'homepage' %}">
        <i class='bx bx-home-alt' ></i>
        <span class="links_name">Strona Glowna</span>
      </a>
      <span class="tooltip">Strona Glowna</span>
    </li>
    <li>
      <a href="{% url 'pixelshop:shop' %}">
        <i class='bx bx-store' ></i>
        <span class="links_name">Sklep</span>
      </a>
      <span class="tooltip">Sklep</span>
    </li>
    <li>
      <a href="{% url 'pixelshop:aboutus' %}">
        <i class='bx bx-info-circle' ></i>
        <span class="links_name">O nas</span>
      </a>
      <span class="tooltip">O nas</span>
    </li>
    <li>
      <a href="{% url 'pixelshop:contact' %}">
        <i class='bx bxs-contact' ></i>
        <span class="links_name">Kontakt</span>
      </a>
      <span class="tooltip">Kontakt</span>
    </li>
    {% if request.user.is_authenticated %}
    <li>
      <a href="{% url 'pixelshop:profile' pk=request.user.pk %}">
        <i class='bx bxs-user-detail' ></i>
        <span class="links_name">Profil</span>
      </a>
      <span class="tooltip">Profil</span>
    </li>
    {% endif %}
    {% if request.user.is_superuser %}
    <li>
      <a href="{% url 'api:root-api' %}">
        <i class='bx bx-data' ></i>
        <span class="links_name">Api</span>
      </a>
      <span class="tooltip">Api</span>
    </li>
    {% endif %}
  </ul>
  <div class="profile_content">
    <div class="profile">
      {% if request.user.is_authenticated %}
      <div class="profile_details">
        <i class='bx bxs-user' ></i>
        <div class="logged_user_details">
          <div class="name">{{ request.user.first_name }} {{ request.user.last_name }}</div>
          {% if request.user.is_superuser %}
          <div class="role">Admin</div>
          {% elif request.user.is_staff %}
          <div class="role">Staff</div>
          {% else %}
          <div class="role">User</div>
          {% endif %}
        </div>
      </div>
      <a href="{% url 'pixelshop:logout' %}"><i class='bx bx-log-out' id="log_in_out"></i></a>
      {% else %}
      <a href="{% url 'pixelshop:login' %}"><i class='bx bx-log-in' id="log_in_out"></i></a>
      {% endif %}
    </div>
  </div>
</div>
<script src="{% static '/website/js/navbar.js' %}" type="text/javascript"></script>