{% extends 'base.html' %}
{% load simple_tags %}
{% block content %}
    {% include 'navbar.html' %}
    <div class="container shadow-sm p-3 mb-5 mt-5 bg-white">
        <div class="row mt-5">
            <div class="col-12">
                {% with userpk=request.get_full_path|get_pk %}
                    {% if userpk == request.user.pk %}
                        <form method="post">
                            <legend>Edycja profilu użytkownika:</legend>
                            {% csrf_token %}
                            <div class="mb-3">
                                <label for="id_email" class="form-label">Email:</label>
                                <input type="email" name="email" maxlength="150" class="form-control" id="id_email" value="{{ object.email }}">
                            </div>
                            <div class="mb-3">
                                <label for="id_first_name" class="form-label">Imię:</label>
                                <input type="text" name="first_name" maxlength="150" class="form-control" id="id_first_name" value="{{ object.first_name }}">
                            </div>
                            <div class="mb-3">
                                <label for="id_last_name" class="form-label">Nazwisko:</label>
                                <input type="text" name="last_name" maxlength="150" class="form-control" id="id_last_name" value="{{ object.last_name }}">
                            </div>
                            <input type="submit" class="btn btn-primary" value="Zapisz zmiany">
                        </form>
                    {% else %}
                        <p>Cwany jesteś, ale nic tu nie znajdziesz :)</p>
                    {% endif %}
                {% endwith %}            
          </div>
        </div>
    </div>
{% endblock content %}