{% extends 'base.html' %}
{% load simple_tags %}
{% block content %}
    {% include 'navbar.html' %}
    <div class="container shadow-sm p-3 mb-5 mt-5 bg-white">
        {% with userpk=request.get_full_path|get_pk %}
            {% if userpk == request.user.pk %}
            <form>
                <fieldset disabled>
                    <div class="row mb-3">
                        <div class="col-10">
                            <legend>{{ object.username }}</legend>
                        </div>
                        <div class="col-2">
                            <a href="{% url 'pixelshop:profile-update' pk=request.user.pk %}">
                                <button type="button" class="btn btn-primary">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                                         <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"></path>
                                    </svg>
                                    Edytuj profil
                                </button>
                            </a> 
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-6">
                            <label for="email" class="form-label">Email</label>
                        </div>
                        <div class="col-6">
                            <input type="text" id="email" class="form-control" placeholder="{{ object.email }}">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-6">
                            <label for="first_name" class="form-label">Imię</label>
                        </div>
                        <div class="col-6">
                            <input type="text" id="first_name" class="form-control" placeholder="{{ object.first_name }}">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-6">
                            <label for="last_name" class="form-label">Nazwisko</label>
                        </div>
                        <div class="col-6">
                            <input type="text" id="last_name" class="form-control" placeholder="{{ object.last_name }}">
                        </div>
                    </div>
                </fieldset>
              </form>
            {% else %}
                <div class="row">
                    <div class="col-12">
                        <p>Cwany jesteś, ale nic tu nie znajdziesz :)</p>
                    </div>
                </div>
            {% endif %}
        {% endwith %}
    </div>
{% endblock content %}