{% extends 'base.html' %}
{% load static %}
{% block content %}
    {% include 'navbar.html' %}
    <div class="container shadow-sm p-3 mb-3 mt-3 bg-white">
        <h1>Regulamin sklepu internetowego PIXELSHOP</h1>
        <h2>&sect; 1 Postanowienia wstępne</h2>
        <ol>
            <li>Sklep internetowy PIXELSHOP, dostępny pod adresem internetowym pixelshop.com prowadzony jest przez Szymona Śliwa i Macieja Szymborskiego prowadzących działalność gospodarczą.</li>
            <li>Niniejszy Regulamin skierowany jest zarówno do Konsumentów, jak i do Przedsiębiorców korzystających ze Sklepu i określa zasady korzystania ze Sklepu internetowego oraz zasady i tryb zawierania Umów Sprzedaży z Klientem na odległość za pośrednictwem Sklepu.</li>
        </ol>
        <h2>&sect; 2 Definicje</h2>
        <ol>
            <li><b>Konsument</b> - osoba fizyczna zawierająca ze Sprzedawcą umowę w ramach Sklepu, której przedmiot nie jest związany bezpośrednio z jej działalnością gospodarczą lub zawodową.</li>
            <li><b>Sprzedawca</b> - osoba fizyczna prowadząca działalność gospodarczą pod firmą PIXELSHOP, wpisaną do Centralnej Ewidencji i Informacji o Działalności Gospodarczej (CEIDG) prowadzonej przez ministra właściwego ds. gospodarki.</li>
            <li><b>Klient</b> - każdy podmiot dokonujący zakupów za pośrednictwem Sklepu.</li>
            <li><b>Przedsiębiorca</b> - osoba fizyczna, osoba prawna i jednostka organizacyjna niebędąca osobą prawną, której odrębna ustawa przyznaje zdolność prawną, wykonująca we własnym imieniu działalność gospodarczą, która korzysta ze Sklepu.</li>
            <li><b>Sklep</b> - sklep internetowy prowadzony przez Sprzedawcę pod adresem internetowym pixelshop.com</li>
            <li><b>Umowa zawarta na odległość</b> - umowa zawarta z Klientem w ramach zorganizowanego systemu zawierania umów na odległość (w ramach Sklepu), bez jednoczesnej fizycznej obecności stron, z wyłącznym wykorzystaniem jednego lub większej liczby środków porozumiewania się na odległość do chwili zawarcia umowy włącznie.</li>
            <li><b>Regulamin</b> - niniejszy regulamin Sklepu.</li>
            <li><b>Zamówienie</b> - oświadczenie woli Klienta składane za pomocą Formularza Zamówienia i zmierzające bezpośrednio do zawarcia Umowy Sprzedaży Produktu lub Produktów ze Sprzedawcą.</li>
            <li><b>Konto</b> - konto klienta w Sklepie, są w nim gromadzone są dane podane przez Klienta oraz informacje o złożonych przez niego Zamówieniach w Sklepie.</li>
            <li><b>Formularz rejestracji</b> - formularz dostępny w Sklepie, umożliwiający utworzenie Konta.</li>
            <li><b>Formularz zamówienia</b> - interaktywny formularz dostępny w Sklepie umożliwiający złożenie Zamówienia, w szczególności poprzez dodanie Produktów do Koszyka oraz określenie warunków Umowy Sprzedaży, w tym sposobu dostawy i płatności.</li>
            <li><b>Koszyk</b> – element oprogramowania Sklepu, w którym widoczne są wybrane przez Klienta Produkty do zakupu, a także istnieje możliwość ustalenia i modyfikacji danych Zamówienia, w szczególności ilości produktów.</li>
            <li><b>Produkt</b> - dostępna w Sklepie rzecz ruchoma/usługa będąca przedmiotem Umowy Sprzedaży między Klientem a Sprzedawcą.</li>
            <li><b>Umowa Sprzedaży</b> - umowa sprzedaży Produktu zawierana albo zawarta między Klientem a Sprzedawcą za pośrednictwem Sklepu internetowego. Przez Umowę Sprzedaży rozumie się też - stosowanie do cech Produktu - umowę o świadczenie usług i umowę o dzieło.</li>
        </ol>
        <h2>&sect; 3 Kontakt ze Sklepem</h2>
        <ol>
            <li>Adres e-mail Sprzedawcy: kontakt@pixelshop.com</li>
            <li>Numer telefonu Sprzedawcy: 116111997</li>
            <li>Klient może porozumiewać się ze Sprzedawcą za pomocą adresów i numerów telefonów podanych w niniejszym paragrafie.</li>
            <li>Klient może porozumieć się telefonicznie ze Sprzedawcą w godzinach 8:00-16:00</li>
        </ol>
        <h2>&sect; 4 Wymagania techniczne</h2>
        <span>Do korzystania ze Sklepu, w tym przeglądania asortymentu Sklepu oraz składania zamówień na Produkty, niezbędne są:</span>
        <ol>
            <li>urządzenie końcowe z dostępem do sieci Internet i przeglądarką internetową,</li>
            <li>aktywne konto poczty elektronicznej (e-mail),</li>
            <li>włączona obsługa plików cookies.</li>
        </ol>
        <h2>&sect; 5 Informacje ogólne</h2>
        <ol>
            <li>Sprzedawca w najszerszym dopuszczalnym przez prawo zakresie nie ponosi odpowiedzialności za zakłócenia w tym przerwy w funkcjonowaniu Sklepu spowodowane siłą wyższą, niedozwolonym działaniem osób trzecich lub niekompatybilnością Sklepu internetowego z infrastrukturą techniczną Klienta.</li>
            <li>Przeglądanie asortymentu Sklepu nie wymaga zakładania Konta. Składanie zamówień przez Klienta na Produkty znajdujące się w asortymencie Sklepu możliwe jest albo po założeniu Konta zgodnie z postanowieniami § 6 Regulaminu albo przez podanie niezbędnych danych osobowych i adresowych umożliwiających realizację Zamówienia bez zakładania Konta.</li>
            <li>Ceny podane w Sklepie są podane w polskich złotych i są cenami brutto (uwzględniają podatek VAT).</li>
            <li>Na końcową (ostateczną) kwotę do zapłaty przez Klienta składa się cena za Produkt oraz koszt dostawy (w tym opłaty za transport, dostarczenie i usługi pocztowe), o której Klient jest informowany na stronach Sklepu w trakcie składania Zamówienia, w tym także w chwili wyrażenia woli związania się Umową Sprzedaży.</li>
            <li>W przypadku Umowy obejmującej prenumeratę lub świadczenie usług na czas nieoznaczony końcową (ostateczną) ceną jest łączna cena obejmująca wszystkie płatności za okres rozliczeniowy.</li>
            <li>Gdy charakter przedmiotu Umowy nie pozwala, rozsądnie oceniając, na wcześniejsze obliczenie wysokości końcowej (ostatecznej) ceny, informacja o sposobie, w jaki cena będzie obliczana, a także o opłatach za transport, dostarczenie, usługi pocztowe oraz o innych kosztach, będzie podana w Sklepie w opisie Produktu.</li>
        </ol>
        <h2>&sect; 6 Zakładanie Konta w Sklepie</h2>
        <ol>
            <li>Aby założyć Konto w Sklepie, należy wypełnić Formularz rejestracji. Niezbędne jest podanie następujących danych email, nazwę użytkownika, hasło, imię i nazwisko.</li>
            <li>Założenie Konta w Sklepie jest darmowe.</li>
            <li>Logowanie się na Konto odbywa się poprzez podanie loginu i hasła ustanowionych w Formularzu rejestracji.</li>
            <li>Klient ma możliwość w każdej chwili, bez podania przyczyny i bez ponoszenia z tego tytułu jakichkolwiek opłat usunąć Konto poprzez wysłanie stosownego żądania do Sprzedawcy, w szczególności za pośrednictwem poczty elektronicznej lub pisemnie na adresy podane w &sect; 3.</li>
        </ol>
        <h2>&sect; 7 Zasady składania Zamówienia</h2>
        <span>W celu złożenia Zamówienia należy:</span>
        <ol>
            <li>zalogować się do Sklepu (opcjonalnie);</li>
            <li>wybrać Produkt będący przedmiotem Zamówienia, a następnie kliknąć przycisk „Do koszyka” (lub równoznaczny);</li>
            <li>zalogować się lub skorzystać z możliwości złożenia Zamówienia bez rejestracji;</li>
            <li>jeżeli wybrano możliwość złożenia Zamówienia bez rejestracji - wypełnić Formularz zamówienia poprzez wpisanie danych odbiorcy Zamówienia oraz adresu, na który ma nastąpić dostawa Produktu, wybrać rodzaj przesyłki (sposób dostarczenia Produktu), wpisać dane do faktury, jeśli są inne niż dane odbiorcy Zamówienia,</li>
            <li>kliknąć przycisk “Zamawiam i płacę”/kliknąć przycisk “Zamawiam i płacę” oraz potwierdzić zamówienie, klikając w link przesłany w wiadomości e-mail,</li>
            <li>wybrać jeden z dostępnych sposobów płatności i w zależności od sposobu płatności, opłacić zamówienie w określonym terminie, z zastrzeżeniem &sect; 8 pkt 3</li>
        </ol>
        <h2>&sect; 8 Oferowane metody dostawy oraz płatności</h2>
        <ol>
            <li>Klient może skorzystać z następujących metod dostawy lub odbioru zamówionego Produktu - przesyłka pocztą elektroniczną</li>
            <li>Klient może skorzystać z następujących metod płatności:</li>
            <ul>
                <li>Płatność przelewem na konto Sprzedawcy</li>
                <li>Płatności elektroniczne</li>
            </ul>
            <li>Szczegółowe informacje na temat metod dostawy oraz akceptowalnych metod płatności znajdują się za stronach Sklepu.</li>
        </ol>
        <h2>&sect; 9 Wykonanie umowy sprzedaży</h2>
        <ol>
            <li>Zawarcie Umowy Sprzedaży między Klientem a Sprzedawcą następuje po uprzednim złożeniu przez Klienta Zamówienia za pomocą Formularza zamówienia w Sklepie internetowym zgodnie z &sect; 7 Regulaminu.</li>
            <li>Po złożeniu Zamówienia Sprzedawca niezwłocznie potwierdza jego otrzymanie oraz jednocześnie przyjmuje Zamówienie do realizacji. Potwierdzenie otrzymania Zamówienia i jego przyjęcie do realizacji następuje poprzez przesłanie przez Sprzedawcę Klientowi stosownej wiadomości e-mail na podany w trakcie składania Zamówienia adres poczty elektronicznej Klienta, która zawiera co najmniej oświadczenia Sprzedawcy o otrzymaniu Zamówienia i o jego przyjęciu do realizacji oraz potwierdzenie zawarcia Umowy Sprzedaży. Z chwilą otrzymania przez Klienta powyższej wiadomości e-mail zostaje zawarta Umowa Sprzedaży między Klientem a Sprzedawcą.</li>
            <li>W przypadku wyboru przez Klienta: </li>
            <ul>
                <li>płatności przelewem, płatności elektronicznych albo płatności kartą płatniczą, Klient obowiązany jest do dokonania płatności w terminie 7. dni kalendarzowych od dnia zawarcia Umowy Sprzedaży - w przeciwnym razie zamówienie zostanie anulowane.</li>
                <li>płatności za pobraniem przy odbiorze przesyłki, Klient obowiązany jest do dokonania płatności przy odbiorze przesyłki.</li>
                <li>płatności gotówką przy odbiorze osobistym przesyłki, Klient obowiązany jest dokonać płatności przy odbiorze przesyłki w terminie 7. dni od dnia otrzymania informacji o gotowości przesyłki do odbioru.</li>
            </ul>
            <li>Jeżeli Klient wybrał sposób dostawy inny niż odbiór osobisty, Produkt zostanie wysłany przez Sprzedawcę w terminie wskazanym w jego opisie (z zastrzeżeniem ustępu 5 niniejszego paragrafu), w sposób wybrany przez Klienta podczas składania Zamówienia.</li>
            <li>W przypadku zamówienia Produktów o różnych terminach dostawy, terminem dostawy jest najdłuższy podany termin.</li>
            <li>Początek biegu terminu dostawy Produktu do Klienta liczy się w następujący sposób:</li>
            <ul>
                <li>W przypadku wyboru przez Klienta sposobu płatności przelewem, płatności elektroniczne lub kartą płatniczą - od dnia uznania rachunku bankowego Sprzedawcy.</li>
                <li>W przypadku wyboru przez Klienta sposobu płatności za pobraniem – od dnia zawarcia Umowy Sprzedaży</li>
            </ul>
            <li>W przypadku wyboru przez Klienta odbioru osobistego Produktu, Produkt będzie gotowy do odbioru przez Klienta w terminie wskazanym w opisie Produktu. O gotowości Produktu do odbioru Klient zostanie dodatkowo poinformowany przez Sprzedawcę poprzez przesłanie stosownej wiadomości e-mail na podany w trakcie składania Zamówienia adres poczty elektronicznej Klienta.</li>
            <li>W przypadku zamówienia Produktów o różnych terminach gotowości do odbioru, terminem gotowości do odbioru jest najdłuższy podany termin.</li>
            <li>Dostawa Produktu odbywa się na terenie całego świata.</li>
            <li>Dostawa Produktu do Klienta jest odpłatna, chyba że Umowa Sprzedaży stanowi inaczej. Koszty dostawy Produktu (w tym opłaty za transport, dostarczenie i usługi pocztowe) są wskazywane Klientowi na stronach Sklepu internetowego w zakładce „Koszty dostawy” oraz w trakcie składania Zamówienia, w tym także w chwili wyrażenia przez Klienta woli związania się Umową Sprzedaży.</li>
            <li>Odbiór osobisty Produktu przez Klienta jest bezpłatny.</li>
        </ol>
        <h2>&sect; 10 Prawo odstąpienia od umowy</h2>
        <ol>
            <li>Konsument może w terminie 14 dni odstąpić od Umowy Sprzedaży bez podania jakiejkolwiek przyczyny.</li>
            <li>Bieg terminu określonego w ust. 1 rozpoczyna się od dostarczenia Produktu Konsumentowi lub wskazanej przez niego osobie innej niż przewoźnik.</li>
            <li>W przypadku Umowy, która obejmuje wiele Produktów, które są dostarczane osobno, partiami lub w częściach, termin wskazany w ust. 1 biegnie od dostawy ostatniej rzeczy, partii lub części.</li>
            <li>W przypadku Umowy, która polega na regularnym dostarczaniu Produktów przez czas oznaczony (prenumerata), termin wskazany w ust. 1 biegnie od objęcia w posiadanie pierwszej z rzeczy.</li>
            <li>Konsument może odstąpić od Umowy, składając Sprzedawcy oświadczenie o odstąpieniu od Umowy. Do zachowania terminu odstąpienia od Umowy wystarczy wysłanie przez Konsumenta oświadczenia przed upływem tego terminu.</li>
            <li>świadczenie może być wysłane za pomocą tradycyjnej poczty poprzez przesłanie oświadczenia na adres Sprzedawcy - dane kontaktowe Sprzedawcy zostały określone w § 3. Oświadczenie można złożyć również na formularzu, którego wzór stanowi załącznik nr 1 do niniejszego Regulaminu oraz załącznik do ustawy z dnia 30 maja 2014 roku o prawach konsumenta, jednak nie jest to obowiązkowe.</li>
            <li>W przypadku przesłania oświadczenia przez Konsumenta drogą elektroniczną, Sprzedawca niezwłocznie prześle Konsumentowi na podany przez Konsumenta adres e-mail potwierdzenie otrzymania oświadczenia o odstąpieniu od Umowy.</li>
            <li>Skutki odstąpienia od Umowy:</li>
            <ul>
                <li>W przypadku odstąpienia od Umowy zawartej na odległość Umowę uważa się za niezawartą.</li>
                <li>W przypadku odstąpienia od Umowy Sprzedawca zwraca Konsumentowi niezwłocznie, nie później niż w terminie 14 dni od dnia otrzymania oświadczenia Konsumenta o odstąpieniu od Umowy, wszystkie dokonane przez niego płatności, w tym koszty dostarczenia rzeczy, z wyjątkiem dodatkowych kosztów wynikających z wybranego przez Konsumenta sposobu dostarczenia innego niż najtańszy zwykły sposób dostarczenia oferowany przez Sprzedawcę.</li>
                <li>Zwrotu płatności Sprzedawca dokona przy użyciu takich samych metod płatności, jakie zostały przez Konsumenta użyte w pierwotnej transakcji, chyba że Konsument wyraźnie zgodził się na inne rozwiązanie, które nie będzie się wiązało dla niego z żadnymi kosztami.</li>
                <li>Sprzedawca może wstrzymać się ze zwrotem płatności do czasu otrzymania Produktu z powrotem lub do czasu dostarczenia mu dowodu jego odesłania, w zależności od tego, które zdarzenie nastąpi wcześniej.</li>
                <li>Konsument powinien odesłać Produkt na adres Sprzedawcy podany w niniejszym Regulaminie niezwłocznie, nie później niż 14 dni od dnia, w którym poinformował Sprzedawcę o odstąpieniu od Umowy. Termin zostanie zachowany, jeśli Konsument odeśle Produkt przed upływem terminu 14 dni.</li>
                <li>Konsument ponosi bezpośrednie koszty zwrotu Produktu, także koszty zwrotu Produktu, jeśli ze względu na swój charakter Produkt ten nie mógł zostać w zwykłym trybie odesłany pocztą.</li>
                <li>Konsument odpowiada tylko za zmniejszenie wartości Produktu wynikające z korzystania z niego w sposób inny niż było to konieczne do stwierdzenia charakteru, cech i funkcjonowania Produktu.</li>
            </ul>
            <li>W przypadku gdy ze względu na charakter Produktu nie może on zostać odesłany w zwykłym trybie pocztą, informacja o tym, a także o kosztach zwrotu Produktu, będzie się znajdować w opisie Produktu w Sklepie.</li>
            <li>Prawo do odstąpienia od umowy zawartej na odległość nie przysługuje Konsumentowi w odniesieniu do Umowy:</li>
            <ul>
                <li>w której przedmiotem świadczenia jest rzecz nieprefabrykowana, wyprodukowana według specyfikacji Konsumenta lub służąca zaspokojeniu jego zindywidualizowanych potrzeb,</li>
                <li>w której przedmiotem świadczenia jest rzecz dostarczana w zapieczętowanym opakowaniu, której po otwarciu opakowania nie można zwrócić ze względu na ochronę zdrowia lub ze względów higienicznych, jeżeli opakowanie zostało otwarte po dostarczeniu,</li>
                <li>w które przedmiotem świadczenia jest rzecz ulegająca szybkiemu zepsuciu lub mająca krótki termin przydatności do użycia,</li>
                <li>o świadczenie usług, jeżeli Sprzedawca wykonał w pełni usługę za wyraźną zgodą Konsumenta, który został poinformowany przez rozpoczęciem świadczenia, że po spełnieniu świadczenia przez Sprzedawcę utraci prawo odstąpienia od Umowy,</li>
                <li>w którym cena lub wynagrodzenie zależy od wahań na rynku finansowym, nad którym Sprzedawca nie sprawuje kontroli, i które mogą wystąpić przed upływem terminu do odstąpienia od Umowy,</li>
                <li>w której przedmiotem świadczenia są rzeczy, które po dostarczeniu, ze względu na swój charakter, zostają nierozłącznie połączone z innymi rzeczami,</li>
                <li>w której przedmiotem świadczenia są napoje alkoholowe, których cena została uzgodniona przy zawarciu umowy sprzedaży, a których dostarczenie może nastąpić dopiero po upływie 30 dni i których wartość zależy od wahań na rynku, nad którymi Sprzedawca nie ma kontroli,</li>
                <li>w której przedmiotem świadczenia są nagrania dźwiękowe lub wizualne albo programy komputerowe dostarczane w zapieczętowanym opakowaniu, jeżeli opakowanie zostało otwarte po dostarczeniu,</li>
                <li>o dostarczanie dzienników, periodyków lub czasopism, z wyjątkiem umowy o prenumeratę,</li>
                <li>o dostarczenie treści cyfrowych, które nie są zapisane na nośniku materialnym, jeżeli spełnianie świadczenia rozpoczęło się za wyraźną zgodą Konsumenta przed upływem terminu do odstąpienia od umowy i po poinformowaniu go przez Sprzedawcę o utracie prawa odstąpienia od Umowy,</li>
            </ul>
        </ol>
        <h2>&sect; 11 Reklamacja i gwarancja</h2>
        <ol>
            <li>Umową Sprzedaży objęte są nowe Produkty.</li>
            <li>W przypadku wystąpienia wady zakupionego u Sprzedawcy towaru Klient ma prawo do reklamacji w oparciu o przepisy dotyczące rękojmi w kodeksie cywilnym. Jeżeli Klientem jest Przedsiębiorca, strony wyłączają odpowiedzialność z tytułu rękojmi.</li>
            <li>Sprzedawca ustosunkuje się do żądania reklamacyjnego niezwłocznie, nie później niż w terminie 14 dni, a jeśli nie zrobi tego w tym terminie, uważa się, że żądanie Klienta uznał za uzasadnione.</li>
            <li>Sprzedawca ustosunkuje się do żądania reklamacyjnego niezwłocznie, a jeżeli Klientem jest Konsument - nie później niż w terminie 14 dni. Jeżeli Klientem jest Konsument, a Sprzedawca nie ustosunkuje się do żądania reklamacyjnego  terminie 14 dni, uważa się, że żądanie Klienta uznał za uzasadnione </li>
            <li>W przypadku, gdy na Produkt została udzielona gwarancja, informacja o niej, a także jej treść, będą zawarte przy opisie Produktu w Sklepie. </li>
            <li>W przypadku, gdy na Produkt została udzielona gwarancja, informacja o niej, a także jej treść, będą zawarte przy opisie Produktu w Sklepie. Sprzedawca dołączy też kartę gwarancyjną do sprzedanego Produktu.</li>
        </ol>
        <h2>&sect; 12 Pozasądowe sposoby rozpatrywania reklamacji i dochodzenia roszczeń</h2>
        <ol>
            <li>Szczegółowe informacje dotyczące możliwości skorzystania przez Konsumenta z  pozasądowych sposobów rozpatrywania reklamacji i dochodzenia roszczeń oraz zasady dostępu do tych procedur dostępne są w siedzibach oraz na stronach internetowych powiatowych (miejskich) rzeczników konsumentów, organizacji społecznych, do których zadań statutowych należy ochrona konsumentów, Wojewódzkich Inspektoratów Inspekcji Handlowej oraz pod następującymi adresami internetowymi Urzędu Ochrony Konkurencji i Konsumentów: http://www.uokik.gov.pl/spory_konsumenckie.php; http://www.uokik.gov.pl/sprawy_indywidualne.php oraz http://www.uokik.gov.pl/wazne_adresy.php.</li>
            <li>Konsument posiada następujące przykładowe możliwości skorzystania z pozasądowych sposobów rozpatrywania reklamacji i dochodzenia roszczeń:</li>
            <ul>
                <li>Konsument uprawniony jest do zwrócenia się do stałego polubownego sądu konsumenckiego, o którym mowa w art. 37 ustawy z dnia 15 grudnia 2000 r. o Inspekcji Handlowej (Dz.U. z 2014 r. poz. 148 z późn. zm.), z wnioskiem o rozstrzygnięcie sporu wynikłego z Umowy zawartej ze Sprzedawcą. </li>
                <li>Konsument uprawniony jest do zwrócenia się do wojewódzkiego inspektora Inspekcji Handlowej, zgodnie z art. 36 ustawy z dnia 15 grudnia 2000 r. o Inspekcji Handlowej (Dz.U. z 2014 r. poz. 148 z późn. zm.), z wnioskiem o wszczęcie postępowania mediacyjnego w sprawie polubownego zakończenia sporu między Konsumentem a Sprzedawcą. </li>
                <li>Konsument może uzyskać bezpłatną pomoc w sprawie rozstrzygnięcia sporu między nim a Sprzedawcą, korzystając także z bezpłatnej pomocy powiatowego (miejskiego) rzecznika konsumentów lub organizacji społecznej, do której zadań statutowych należy ochrona konsumentów (m.in. Federacja Konsumentów, Stowarzyszenie Konsumentów Polskich).</li>
            </ul>
        </ol>
        <h2>&sect; 13 Dane osobowe w Sklepie internetowym</h2>
        <ol>
            <li>Administratorem danych osobowych Klientów zbieranych za pośrednictwem Sklepu internetowego jest Sprzedawca.</li>
            <li>Dane osobowe Klientów zbierane przez administratora za pośrednictwem Sklepu internetowego zbierane są w celu realizacji Umowy Sprzedaży, a jeżeli Klient wyrazi na to zgodę - także w celu marketingowym.</li>
            <li>Odbiorcami danych osobowych Klientów Sklepu internetowego mogą być: </li>
            <ul>
                <li>W przypadku Klienta, który korzysta w Sklepie internetowym ze sposobu dostawy przesyłką pocztową lub przesyłką kurierską, Administrator udostępnia zebrane dane osobowe Klienta wybranemu przewoźnikowi lub pośrednikowi realizującemu przesyłki na zlecenie Administratora.</li>
                <li>W przypadku Klienta, który korzysta w Sklepie internetowym ze sposobu płatności elektronicznych lub kartą płatniczą Administrator udostępnia zebrane dane osobowe Klienta, wybranemu podmiotowi obsługującemu powyższe płatności w Sklepie internetowym. </li>
            </ul>
            <li>Klient ma prawo dostępu do treści swoich danych oraz ich poprawiania.</li>
            <li>Podanie danych osobowych jest dobrowolne, aczkolwiek niepodanie wskazanych w Regulaminie danych osobowych niezbędnych do zawarcia Umowy Sprzedaży skutkuje brakiem możliwości zawarcia tejże umowy. </li>
        </ol>
        <h2>&sect; 14 Postanowienia końcowe</h2>
        <ol>
            <li>Umowy zawierane poprzez Sklep internetowy zawierane są w języku polskim.</li>
            <li>Sprzedawca zastrzega sobie prawo do dokonywania zmian Regulaminu z ważnych przyczyn to jest: zmiany przepisów prawa, zmiany sposobów płatności i dostaw - w zakresie, w jakim te zmiany wpływają na realizację postanowień niniejszego Regulaminu. O każdej zmianie Sprzedawca poinformuje Klienta z co najmniej 7 dniowym wyprzedzeniem.</li>
            <li>W sprawach nieuregulowanych w niniejszym Regulaminie mają zastosowanie powszechnie obowiązujące przepisy prawa polskiego, w szczególności: Kodeksu cywilnego; ustawy o świadczeniu usług drogą elektroniczną; ustawy o prawach konsumenta, ustawy o ochronie danych osobowych. </li>
            <li>Klient ma prawo skorzystać z pozasądowych sposobów rozpatrywania reklamacji i dochodzenia roszczeń. W tym celu może złożyć skargę za pośrednictwem unijnej platformy internetowej ODR dostępnej pod adresem: http://ec.europa.eu/consumers/odr/.</li>
        </ol>
    </div>
{% endblock content %}