{% extends 'base.html' %}
{% load static %}
{% block content %}
    {% include 'navbar.html' %}
    <div class="container shadow-sm p-3 mb-5 mt-5 bg-white">
        <div class="row mt-5">
            <div class="col-12">
                <h1>Logowanie</h1>
              <form method="post">
                  {% csrf_token %}
                  <div class="mb-3">
                      <label for="id_username" class="form-label">Nazwa użytkownika</label>
                      <input type="text" name="username" maxlength="150" class="form-control" id="id_username">
                  </div>
                  <div class="mb-3">
                    <label for="id_password" class="form-label">Hasło</label>
                    <input type="password" name="password" maxlength="128" class="form-control" id="id_password">
                  </div>
                  <input type="submit" class="btn btn-primary" value="Zaloguj"> <!-- disabled -->
                  <a href="{% url 'pixelshop:registration' %}">Nie masz jeszcze konta? Zarejestruj się!</a>
                </form>
                {% for message in messages %}
                    <div class="alert alert-success" role="alert">{{ message }}</div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock content %}